/* Custom Stylesheet */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.login-modal{
  color:#333;
}

.register-modal{
  width: 100% !important ;
  max-height: 100% !important
}
